.container {
  background-color: #45d91c;
  width: 100vw; 
  height: 100vh; 
  position: absolute; 
  top: 0; 
  left: 0; 
  background-image: url('fondo.png');
  background-repeat: no-repeat;
  background-size: cover; 
}



.lesson {
  font-size: 18px;
  color: #37ff00;
  background-color: purple;
  position: relative;
  text-align: center;
  border: 2px solid #37ff00; /* Añadimos un borde */
  margin: 10px 0;
  box-shadow: 0 0 10px rgba(55, 255, 0, 0.5); /* Añadimos una sombra */
  transform: rotateY(10deg); /* Transformación 2D */
}

.button {
  background-color: #e50a0a;
  color: #00ff00;
  border: none;
  padding: 23px 36px; 
  text-decoration: none;
  font-size: 25px;
  border-radius: 5px;
  margin: 20px;
  
  display: inline-block;
  transition: background-color 1.5s ease; 

}

#botones {
  display: flex;
  justify-content: center;
}

.button:hover {
  background-color: #1100ff;
}

h1, h2 {
  font-size: 24px;
  color: #77df00;
  background-color: blue;
  position: relative;
  text-align: center;
}
