@import url('navbar.css');
@import url('grid.css');
@import url('form.css');
@import url('flex.css');
@import url('modal.css');



/* Layout */
.layout {
  background-image: url('https://cdn.pixabay.com/photo/2016/11/29/05/45/astronomy-1867616_1280.jpg');
  background-size: contain;
  background-repeat: repeat; /* No necesitas repetir la imagen si estás usando cover */
  background-position: center;
  width: 100%; /* Asegúrate de que el contenedor ocupe todo el ancho del padre */
  height: 100%; /* Usar el 100% de la altura de la ventana gráfica */
}

/* Images */
img.img-s {
  width: 100px;
  height: 100px;
}

img.img-m {
  width: 100%;
  height: 300px;
}

img.rounded {
  border-radius: 10%;
}

img.half-rounded {
  border-radius: 50% 50% 0 0;
}

img.img-l {
  width: 300px;
  height: 300px;
}

/* Typography */
.text-overflow {
  color: #ffffff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
}

.mainTitle {
  text-align: center;
  font-size: 2em;
  margin: 20px;
  background: white;
  background-size: 50% auto;
  -webkit-animation: cambio-color 15s ease infinite;
  -moz-animation: cambio-color 15s ease infinite;
  animation: cambio-color 15s ease infinite;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.letra {
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 10px;
}

/* Body */
body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  height: wrap-content;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
  background-color: #797979;
}

.ButtonAdd {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16pt;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
}